body {
  position: relative;
  padding-top: 40px;
}

.low #item-7,
.low #item-8,
.low #item-9,
.low #item-10 {
  display: none;
}

.medium #item-9,
.medium #item-10 {
  display: none;
}

.picture-mode .start-test,
.picture-mode .show-result {
  display: none;
}

.video-area {
  margin-top: 1rem;
}

#video {
  border: 1px solid black;
}

.picture-mode #image-preview-container {
  display: none;
}

.actions {
  text-align: center;
}

.thumbnail {
  height: 150px;
  width: 150px;
  display: none;
}

.thumbnail-present {
  display: block;
  background-color: rgb(24, 117, 235);
  border: 1px solid rgb(24,117,235);
}

.list-header {
  margin-top: -18px;
  margin-left: -5px;
  margin-right: -4px;
}

.list-header span {
  margin-left: 0px;
  padding-left: 4px;
  padding-right: 4px;
  color: whitesmoke;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 16px;
  line-height: 16px;  
}

.user-input-position-span {
  background-color: rgb(24,117,235);
  display: none;
}

.correct-position-span {
  background-color: rgb(33, 235, 33);
}

.cancel-selection-span {
  float: right;
  background-color: #ccc;
  height: 14px;
  line-height: 14px;
  width: 7px;
}

.thumbnail img {
  height: 150px;
}

/* Rules for Test Mode */
.test-mode .start-game,
.test-mode .reset-game {
  display: none;
}

.test-mode .start-test,
.test-mode .show-result {
  display: inline;
}

.test-mode #video {
  display: none;
}

.test-mode #image-preview-container {
  display: block;
}

.test-mode .correct-value-span {
  display: none;
}